<!-- Documentation -->

{% if b.metadata.external_documentation or b.documentation -%}
{% endif %}
{% if b.metadata.external_documentation -%}
    <h2>Documentation Links</h2>
    <table class = 'table-condensed '>
        {% for d in b.metadata.external_documentation.values()|sort(attribute='title') %}
            <tr>
            {%  if not d.source %}
                <td><a href="{{d.url}}" target="_blank">{{d.title}}</a></td>
                <td>{{ d.description }}</td>
            {%  endif %}
            </tr>
        {% endfor -%}
    </table>
{% endif -%}
{% if b.documentation -%}
    {{ b.documentation.html|safe }}
{% endif -%}